.map-container {
  width: 60%;
  height: 600px;
  position: relative;
}
.dt-picker {
  position: absolute;
  left: 15px;
  top: 20px;
  z-index: 9999;
  /* border: 1px solid #255fa0; */
  border-radius: 6px;
}
/* .ant-calendar-picker-container {
  border: 1px solid #255fa0;
} */