.header-hd {
  background-color: #1c5080;
  height: 80px;
  line-height: 80px;
  font-size: 22px;
}
.header-icon {
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.header-btn {
  background-color: rgba(255, 255, 255, .5);
  position: absolute;
  left: 10%;
  top: 50%;
  height: 30px !important;
  line-height: 26px !important;
  width: 60%;
  margin: 0 auto;
  margin-top: -15px;
  color: #fff;
  font-weight: 700;
}
.header-ft {
  height: 40px;
  background-color: #0d5fb5;
}

@media screen and (max-width: 767px) {
  .header-hd {
    font-size: 16px;
    height: 60px;
    line-height: 60px;
  }
  .header-btn {
    width: 90%;
  }
  .header-ft {
    height: 30px;
  }
}
