.box-pn {
  border: 1px solid #eee;
  font-size: 18px;
  box-sizing: border-box;
  padding: 20px 0 18px 18px;
  margin: 0 10px 50px;
}
.box-pn,
.box-pn * {
  cursor: pointer;
}
.box-pn.active {
  box-shadow: 2px 2px 2px #eeedea;
  border-top: 2px solid #1d7ee2;
}
.box-pn.active,
.box-pn.active * {
  cursor: default;
}
.box-tl {
  font-weight: 700;
  font-family: "黑体";
  font-size: 20px;
}
.box-dscrp {
  margin-top: 10px;
  width: 65%;
  font-size: 17px;
  float: right;
  font-family: "MicrosoftYahei", sans-serif;
  overflow: hidden;
  color: #161616;
}
.decrp {
  width: 71%;
  vertical-align: bottom;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}