.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '.';
  height: 0;
  visibility: hidden;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
}

span,h1,h2,h3,h4,ul,li {
  cursor: default;
}

/*百度地图去logo*/
.BMap_cpyCtrl,
.anchorBL img {
  display: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
